<h1>Prospects</h1>
<ul>
  <li class="card" *ngFor="let prospect of prospects">
    <h3>National Identification Number: {{ prospect.nid }}</h3>
    <h3><span>Name: </span>{{ prospect.firstName }} {{ prospect.lastName }}</h3>
    <div><span>Birth Date: </span>{{ prospect.birthDate }}</div>
    <div><span>Email: </span>{{ prospect.email }}</div>
    <div><span>Phone: </span>{{ prospect.phone }}</div>
    <h3>Status:</h3>
    <p class="status">
      National Registry Identification: {{ prospect.step1 ? "OK" : "" }}
    </p>
    <p class="status">
      National Archives System: {{ prospect.step2 ? "OK" : "" }}
    </p>
    <p class="status">
      Internal Qualification System: {{ prospect.step3 ? "OK" : "" }}
    </p>
  </li>
</ul>
