<h1>Leads</h1>
<ul>
  <li class="card" *ngFor="let lead of leads">
    <h3>National Identification Number: {{ lead.nid }}</h3>
    <h3><span>Name: </span>{{ lead.firstName }} {{ lead.lastName }}</h3>
    <div><span>Birth Date: </span>{{ lead.birthDate }}</div>
    <div><span>Email: </span>{{ lead.email }}</div>
    <div><span>Phone: </span>{{ lead.phone }}</div>
    <button (click)="onSelect(lead)">Validate Lead</button>
    <div>
      <p *ngIf="lead.step1">Executing validations...</p>
      <p
        [ngClass]="{
          green: lead.step1.includes('OK'),
          orange: lead.step1.includes('Running'),
          red: lead.step1.includes('FAILED')
        }"
        *ngIf="lead.step1"
      >
        {{ lead.step1 }}
      </p>
      <p
        [ngClass]="{
          green: lead.step2.includes('OK'),
          orange: lead.step2.includes('Running'),
          red: lead.step2.includes('FAILED')
        }"
        *ngIf="lead.step2"
      >
        {{ lead.step2 }}
      </p>
      <p
        [ngClass]="{
          green: lead.step3.includes('OK'),
          orange: lead.step3.includes('Running'),
          red: lead.step3.includes('FAILED')
        }"
        *ngIf="lead.step3"
      >
        {{ lead.step3 }}
      </p>
    </div>
    <button *ngIf="lead.canBeProspect" (click)="onMoveToProspects(lead)">
      Move to Prospects
    </button>
  </li>
</ul>
