@import url("https://fonts.googleapis.com/css?family=Raleway:400,500&display=swap");
body,
input[type="text"],
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
  // width: 210px;
  // height: 300px;
  border-radius: 12px;
  box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
}

.card h2,
.card h3,
.card p {
  color: var(--gray);
  font-family: "Raleway", sans-serif;
}

.card h2 {
  font-weight: 500;
  letter-spacing: 0.5px;
  opacity: 0.8;
  margin: 1rem 0;
}
.card h3 {
  position: relative;
  width: 100%;
  text-align: center;
  font-weight: 400;
  opacity: 0.8;
  margin: 1rem 0;
}

.card h3::after {
  background-color: var(--gray);
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 10%;
  width: 80%;
  height: 1px;
  opacity: 0.2;
}

.card p {
  font-size: 0.85rem;
  text-align: center;
  line-height: 1.2;
}

button {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: 6px 6px 8px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 6px 0 rgba(255, 255, 255, 0.3);
  margin: 1rem;
  height: 26px;
}
